{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
	<div class="note">
		<a href="/about/" class="title">About</a>
		<div class="date">Saturday, 12 April 2014 17:04</div>
		<p class="text">
			<h3 id="developers">Who am I?</h3>
			<p>
				My name is Ivan Konovalov.<br/>
				I'm a newbie in programming.<br/>
				I prefer Python+Django.
			</p>
			<h3 id="what-is-noter">What is Noter?</h3>
			<p>
				Noter is a site for keeping notes.<br/>
			</p>
			<h3 id="why">Why?</h3>
			<p>
				Because there's no perfect tool for keeping notes 
				and Noter is not an exception.<br/>
				But Noter is created with soul, it has easier <abbr title="User Interface">UI</abbr>, it has evolved from a tiny command line script to a site (and still can be used from a command line), it's <big>open source</big> and it's written in <big>Python</big>.
			</p>
			<h3 id="noter-vs-monsters">Noter vs. monsters like Evernote</h3>
			<p>
				I'm not trying to say that monsters like Evernote sucks.<br/>
				I'm just trying to say Noter is much lighter and it's <strong style="font-size: 18px;">definetly</strong> not a monster.<br/>
				It's easy to use, fully free, simple and new.<br/>
				And what about our monsters?
				Here's the list:
				<ol>
					<li>Too big</li>
					<li>With limits of free usage</li>
					<li>Too Complicated</li>
				</ol>
				And even if you're still not impressed I still like Noter because I wrote it by myself, <strong>with soul.</strong><br/>
			</p>
			<h3 id="history">History</h3>
			<p>
				Actually, It's weird to write history for a common app. But who cares at all?<br/>
				First I've got an idea to make my own note keeping app after I've got my phone (Huawei U8110) broken.<br/>
				I used to always keep notes, that was a part of my life. I used ColorNote for Android.<br/>
				But there was so many ideas...
				I had to write them somewhere.<br/>
				Before it was my phone but what should I do when I have my phone broken?<br/>
				Of course I could write them on paper but that isn't comfortable.
				So I decided to create Noter.
				After few months I also decided to write this site.<br/>
				And now Noter is one of my favorite projects.
				I think I will keep it evolving for long time.
			</p>
		</p>
	</div>
{% endblock %}
