{% extends "base.html" %}
{% block title %}Add note{% endblock %}
{% block content %}
	<div id="result" class="alert"></div>
	<form method="post" action="/addnote/" id="save-form">
		{% csrf_token %}
		<div class="margin-bottom">
			<div class="margin-bottom">
				<label class="label" for="title">Title:</label>
				<input type="text" class="input-field" placeholder="Title" name="title" />
			</div>
			<div class="margin-bottom">
				<label class="label" for="text">Text:</label>
				<textarea name="text" id="txt" spellcheck="false" class="textarea-field" rows="13" placeholder="Text"></textarea>
			</div>
			<div class="margin-bottom">
				<div class="suggested-tags"></div>
				<label class="label" for="tags">Tags:</label>
				<input type="text" class="input-field" placeholder="Separate with comma" name="tags" onclick="getTags(-1, $('input[name=title]').val(), $('textarea[name=text]').val())" />
			</div>
			<div class="margin-bottom">
				<label for="is_note">
					<input type="radio" name="type" value="n" id="is_note" />
					Note
				</label>
			</div>
			<div class="margin-bottom">
				<label for="is_todo">
					<input type="radio" name="type" value="t" id="is_todo" />
					Todo
				</label>
			</div>
			<div class="margin-bottom">
				<label for="is_snippet">
					<input type="radio" name="type" value="s" id="is_snippet" />
					Code Snippet
				</label>
			</div>
			<div class="margin-bottom">
				<label for="is_warning">
					<input type="radio" name="type" value="w" id="is_warning" />
					Warning
				</label>
			</div>
			<p>
				<div class="btn-success" onclick="$('#save-form').submit()">Save</div>
				<div class="btn-success" type="button" onclick="preview();">Preview</div>
			</p>
			<div class="note preview">
				<h2></h2>
				<a>
					<span class="title"></span>
				</a>
				<div class="date"></div>
				<p class="text"></p>
			</div>
		</div>
	</form>
	<script type="text/javascript">
		enableTab("txt");
	</script>
{% endblock %}
