<!DOCTYPE html>
<html manifest="/static/acache/manifest.appcache">
	<head lang="en">
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html" />
		<meta http-equiv="content-language" content="en" />
		<meta name="copyright" content="Ivan Konovalov" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% block title %}{% endblock %} - Noter</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.min.css" />
		<link rel="shortcut icon" href="/static/img/noter-icon.png" />
		<script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.scrollTo.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/js/highlight.js/styles/mono-blue.css" />
		<script type="text/javascript" src="/static/js/highlight.js/highlight.pack.js"></script>
		<script type="text/javascript" src="/static/js/noter.min.js"></script>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div id="progress-indicator"></div>
		{% include "include/header.html" %}
		<section class="main" role="main">
			<script type="text/javascript">
				onLoad();
			</script>
			<noscript>
				<h3>Please, enable JavaScript</h3>
			</noscript>
			{% block content %}
			{% endblock %}
		</section>
		{% include "include/footer.html" %}		
	</body>
</html>
