<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html" />
		<meta http-equiv="content-language" content="en" />
		<meta name="copyright" content="Ivan Konovalov" />
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<title>{% block title %}{% endblock %} - Noter</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.min.css" />
		<link rel="shortcut icon" href="/static/img/noter-icon.png" />
		<script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.scrollTo.min.js"></script>
		<script type="text/javascript" src="/static/js/noter.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/js/highlight.js/styles/mono-blue.css" />
		<script type="text/javascript" src="/static/js/highlight.js/highlight.pack.js"></script>
		<script type="text/javascript">
			hljs.configure({tabReplace: '    '}); // 4 spaces
			hljs.initHighlightingOnLoad();
			$(document).ready(function() {
				$("article .text").each(function() {
					$(this).html(antiEscapeLtGt($(this).html()));
				});
			});
		</script>
		{% include "include/handle.html" %}
		{% block head %}
		{% endblock %}
	</head>
	<body>
		{% include "include/header.html" %}
		<section class="main" role="main">
			<script type="text/javascript">
				$(document).ready(function() {
					var usag = navigator.userAgent.toLowerCase();

					if (usag.indexOf("chrome") > -1 || usag.indexOf("applewebkit") > -1 || usag.indexOf("presto") > -1) {
						$(".filter-btn").css("line-height", "1.5");
						$(".search-btn").css("line-height", "1.75");
						$(".input-field").css("margin-top", "4px");
						$(".label").css("padding-bottom", "3px");
					}
				});
			</script>
			{% block content %}
			{% endblock %}
		</section>
		{% include "include/footer.html" %}
	</body>
</html>
