{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
	<form method="post" action="/contact/" id="contact-form">
	{% csrf_token %}
		<div class="margin-bottom">
			<div class="margin-bottom">
				<label class="label" for="subject">Subject:</label>
				<input class="input-field" type="text" name="subject" placeholder="Subject" />
			</div>
			<div class="margin-bottom">
				<label class="label" for="text">Text:</label>
				<textarea class="textarea-field" name="text" placeholder="Text" rows="10"></textarea>
			</div>
			<div class="margin-bottom">
				<div class="btn-blue" onclick="$('#contact-form').submit()">Send</div>
			</div>
		</div>
	</form>
{% endblock %}
