{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
	<form method="post" action="/contact/">
	{% csrf_token %}
		<div class="col-6-md">
			<div class="col-6-md">
				<label class="label" for="subject">Subject:</label>
				<input class="form-control" type="text" name="subject" placeholder="Subject" />
			</div>
			<div class="col-6-md">
				<label class="label" for="text">Text:</label>
				<textarea class="form-control" name="text" placeholder="Text" rows="10"></textarea>
			</div>
			<div class="col-6-md">
				<label class="label" for="email">Email (not necessary):</label>
				<input type="text" class="form-control" name="email" placeholder="Your email here" />
			</div>
			<div class="col-6-md">
				<button class="btn btn-primary" type="submit">Send</button>
			</div>
		</div>
	</form>
{% endblock %}
