{% extends "base.html" %}
{% block title %}Edit note{% endblock %}
{% block content %}
	<div class="col-6-md">
		<div class="col-6-md">
			<label class="label" for="title">Title:</label>
			<input type="text" class="form-control" placeholder="Title" name="title" value="{{ note.title }}" />
		</div>
		<div class="col-6-md">
			<label class="label" for="text">Text:</label>
			<textarea name="text" id="txt" spellcheck="false" class="form-control" rows="13" placeholder="Text">{{ note.text }}</textarea>
		</div>
		<div class="col-6-md">
			<div class="suggested-tags"></div>
			<label class="label" for="tags">Tags:</label>
			<input type="text" class="form-control" name="tags" placeholder="Separate with comma" value="{{ note.tags }}" onclick="getTags({{ note.id }}, $('input[name=title]').val(), $('textarea[name=text]').val())" />
		</div>
		<div class="col-6-md">
			<label for="todo">
				<input type="radio" name="type" id="todo" value="t" />
				Todo
			</label>
			<label for="checked" style="{% if not note.type == "Todo" %}display: none;{% else %}display: block{% endif %}">
				<input type="checkbox" name="checked" />
				Checked
			</label>
		</div>
		<div class="col-6-md">
			<label for="note">
				<input type="radio" name="type" id="note" value="n" />
				Note
			</label>
		</div>
		<div class="col-6-md">
			<label for="snippet">
				<input type="radio" name="type" id="snippet" value="s" />
				Code Snippet
			</label>
		</div>
		<div class="col-6-md">
			<label for="warning">
				<input type="radio" name="type" id="warning" value="w" />
				Warning
			</label>
		</div>
		{% include "include/edit_radios.html" %}
		<p>
			<button class="btn btn-success" onclick="edit({{ note.id }}, $('input[name=title]').val(), $('textarea[name=text]').val(), $('input[name=tags]').val(), $('input[name=checked]').prop('checked'));">Save</button>
			<button class="btn btn-success" onclick="preview1('{{ note.date }}');">Preview</button>
		</p>
		<div class="alert" id="result"></div>
		<div class="note preview">
			<h2></h2>
			<a>
				<span class="title"></span>
			</a>
			<div class="date"></div>
			<p class="text"></p>
		</div>
	</div>
	<script type="text/javascript">
		enableTab('txt');
	</script>
{% endblock %}
