{% extends "base.html" %}
{% block title %}Edit note{% endblock %}
{% block content %}
	<div class="margin-bottom">
		<div class="margin-bottom">
			<label class="label" for="title">Title:</label>
			<input autocomplete="off" type="text" class="input-field" placeholder="Title" name="title" value="{{ note.title }}" />
		</div>
		<div class="margin-bottom">
			<label class="label" for="text">Text:</label>
			<textarea name="text" id="txt" spellcheck="false" class="textarea-field" rows="13" placeholder="Text">{{ note.text }}</textarea>
		</div>
		<div class="margin-bottom">
			<div class="suggested-tags"></div>
			<label class="label" for="tags">Tags:</label>
			<input type="text" class="input-field" name="tags" placeholder="Separate with comma" value="{{ note.tags }}" onclick="getTags({{ note.id }}, $('input[name=title]').val(), $('textarea[name=text]').val())" autocomplete="off" />
		</div>
		<div class="margin-bottom">
			<label for="todo">
				<input type="radio" name="type" id="todo" value="t" />
				Todo
			</label>
			<label for="checked" style="{% if not note.type == "Todo" %}display: none;{% else %}display: block{% endif %}">
				<input type="checkbox" name="checked" />
				Checked
			</label>
		</div>
		<div class="margin-bottom">
			<label for="note">
				<input type="radio" name="type" id="note" value="n" />
				Note
			</label>
		</div>
		<div class="margin-bottom">
			<label for="snippet">
				<input type="radio" name="type" id="snippet" value="s" />
				Code Snippet
			</label>
		</div>
		<div class="margin-bottom">
			<label for="warning">
				<input type="radio" name="type" id="warning" value="w" />
				Warning
			</label>
		</div>
		{% include "include/edit_radios.html" %}
		<p>
			<button class="btn-success" type="submit" onclick="if($('input[name=tags]').val().split(',').length > 10) {alert('Maximum amount of tags is 10.');} else {edit({{ note.id }}, $('input[name=title]').val(), $('textarea[name=text]').val(), $('input[name=tags]').val(), $('input[name=checked]').prop('checked'));}">Save</button>
			<button class="btn-success" onclick="preview1('{{ note.date|date:"l, F j Y H:i" }}');">Preview</button>
		</p>
		<div id="result"></div>
		<article class="note preview">
			<h2></h2>
			<a>
				<span class="title"></span>
			</a>
			<div class="date"><time></time></div>
			<p class="text"></p>
		</article>
	</div>
	<script type="text/javascript">
		enableTab('txt');
	</script>
{% endblock %}
