{% extends "base.html" %}
{% block title %}Filter notes{% endblock %}
{% block content %}
	<div class="margin-bottom" style="margin-bottom: 20px; min-width: 240px; margin-right: 5px; margin-left: 5px;">
		<div>
			<div><label class="label" for="tags">Tags:</label></div>
			<input class="filter-field" type="text" placeholder="Separate with comma" name="tags" value="{{ tags|slice:"0:-1" }}" />
			<div class="filter-btn" onclick="load_page('/filter/'+$('input[name=tags]').val()+'/1')">Filter</div>
		</div>
		<div class="navigation">
			<a href="/filter/{{ tags }}" onclick="load_page('/filter/{{ tags }}'); return false;">All</a>
			<a href="/filterdone/{{ tags }}" onclick="load_page('/filterdone/{{ tags }}'); return false;">Done</a>
			<a href="/filterundone/{{ tags }}" onclick="load_page('/filterundone/{{ tags }}'); return false;">Undone</a>
			<a href="/filtersnippets/{{ tags }}" onclick="load_page('/filtersnippets/{{ tags }}'); return false;">Snippets</a>
			<a href="/filterwarnings/{{ tags }}" onclick="load_page('/filterwarnings/{{ tags }}'); return false;">Warnings</a>
			<a href="/filternotes/{{ tags }}" onclick="load_page('/filternotes/{{ tags }}'); return false;">Notes</a>
		</div>
	</div> <!-- When there was no this closing tag there was an interesting "double" footer problem -->
	{% if filtered %}
		{% include "include/read_more.html" %}
		{% for note in filtered %}
			{% include "include/note.html" %}
		{% endfor %}
		{% with current_url="/filter"|add:urlprefix|add:"/"|add:tags %}
			{% include "include/pagination.html" %}
		{% endwith %}
	{% else %}
		<strong>There's no notes of this type with such tag(s)</strong>
	{% endif %}
	<script type="text/javascript">
		handleEnter();
	</script>
{% endblock %}
