{% extends "base.html" %}
{% load addsub %}
{% block title %}Home{% endblock %}
{% block head %}
	<meta name="keywords" content="Noter, notes" />
{% endblock %}
{% block content %}
	{% if notes %}
		{% include "include/read_more.html" %}
		{% for note in notes %}
			{% include "include/note.html" %}
		{% endfor %}
		{% with current_url="/" %}
			{% include "include/pagination.html" %}
		{% endwith %}
	{% else %}
		<h5>You don't have any notes yet</h5>
		<p>You can always <a href="/add/" onclick="load_page('/add/'); return false;">create</a> one</p>
	{% endif %}
{% endblock %}
