{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
	<div class="margin-bottom">
		<form id="login_form" method="post" action="/login/">
			{% csrf_token %}
			<div class="col-6-md">
				{% if "return" in request.GET %}
					<a href="/register?return={{ request.GET.return }}">Don't have an account?</a>
				{% else %}
					<a href="/register">Don't have an account?</a>
				{% endif %}
			</div>
			<div class="margin-bottom">
				<div><label class="label" for="email_or_username" style="padding-bottom: 4px;">Email or Username:</label></div>
				<input type="text" class="input-field" name="email" placeholder="Email or Username" />
			</div>
			<div class="margin-bottom">
				<div><label class="label" for="password">Password:</label></div>
				<input type="password" class="input-field" name="password" placeholder="Password" />
				<a href="/resetpassword/">Forgot your password?</a>
			</div>
			{% if "return" in request.GET %}
				<input type="hidden" name="return" value="{{ request.GET.return }}" />
			{% endif %}
			<div class="col-6-md">
				<div class="btn-blue" onclick="$('#login_form').submit()">Login</div>
			</div>
		</form>
	</div>
{% endblock %}
