{% extends "base.html" %}
{% load addsub %}
{% block title %}Note management{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
	<div class="remove-dialog">
	</div>
	<div id="result" class="alert"></div>
	{% if notes %}
		{% include "include/read_more.html" %}
		{% include "include/note_manage.html" %}
		{% with current_url="/manage/" %}
			{% include "include/pagination.html" %}
		{% endwith %}
	{% else %}
		<h5>You don't have any notes yet</h5>
		<p>You can always <a href="/add/" onclick="load_page('/add/'); return false;">create</a> one</p>
	{% endif %}
{% endblock %}
