{% extends "base.html" %}
{% block head %}
	<meta name="keywords" content="Noter, note, {{ note.tags }}" />
{% endblock %}
{% block title %}{{ note.title }}{% endblock %}
{% block content %}
	{% load split %}
	{% include "include/note.html" %}
	<div class="margin-bottom">
		{% if note.tags %}
			{% with tags=note|splitags %}
				{% for tag in tags %}
				<a href="/filter/{{ tag }}" onclick="load_page('/filter/{{ tag }}'); return false;" class="tag">#{{ tag }}</a>
				{% endfor %}
			{% endwith %}
		{% endif %}
	</div>
	<div class="margin-bottom">
		<a href="/similiar/{{ note.id }}/" onclick="load_page('/similiar/{{ note.id }}/'); return false;">
			Similiar notes
		</a>
	</div>
	<div class="margin-bottom">
		<a href="/edit/{{ note.id }}/" onclick="load_page('/edit/{{ note.id }}/'); return false;">
			<div class="edit_button">Edit</div>
		</a>
	</div>
	<div class="margin-bottom">
			{% if previous %}
				<button id="previous" class="btn-success previous" onclick="load_page('/note/{{ previous.id }}/'); return false;">Previous</button>
			{% endif %}
			{% if next %}
				<button id="next" class="btn-success next" onclick="load_page('/note/{{ next.id }}/'); return false;">Next</button>
			{% endif %}
	</div>
{% endblock %}
