{% extends "base.html" %}
{% block head %}
	<meta name="keywords" content="Noter, note, {{ note.tags }}" />
{% endblock %}
{% block title %}{{ note.title }}{% endblock %}
{% block content %}
	{% include "include/note.html" %}
	<a href="/edit/{{ note.id }}/" onclick="load_page('/edit/{{ note.id }}/'); return false;"><div class="edit_button">Edit</div></a>
	<div class="margin-bottom">
			{% if previous %}
				<div id="previous" class="btn btn-success" onclick="load_page('/note/{{ previous.id }}/'); return false;">Previous</div>
			{% endif %}
			{% if next %}
				<div id="next" class="btn-success" onclick="load_page('/note/{{ next.id }}/'); return false;">Next</div>
			{% endif %}
	</div>
{% endblock %}
