{% extends "base.html" %}
{% block title %}Register - Webstore{% endblock %}
{% block content %}
	<form method="post" action="/register/" id="register">
		{% csrf_token %}
		<div class="margin-bottom">
			{% if "return" in request.GET %}
				<a href="/login?return={{ request.GET.return }}">Already have account?</a>
			{% else %}
				<a href="/login">Already have an account?</a>
			{% endif %}
		</div>
		<div class="margin-bottom">
			{% if errors %}
				<div class="margin-bottom">
					{% for error in errors %}
						<div><strong class="error">{{ error }}</strong></div>
					{% endfor %}
				</div>
			{% endif %}
			<div class="margin-bottom">
				<label class="label" for="email">Email:</label>
				<input type="email" name="email" class="input-field" placeholder="Email" value="{{ email }}" />
			</div>
			<div class="margin-bottom">
				<label class="label" for="username">Username:</label>
				<input type="text" name="username" class="input-field" placeholder="Username" value="{{ username }}" />
			</div>
			<div class="margin-bottom">
				<label class="label" for="first_name">First name:</label>
				<input type="text" name="first_name" class="input-field" placeholder="First name" value="{{ first_name }}" />
			</div>
			<div class="margin-bottom">
				<label class="label" for="last_name">Last name:</label>
				<input type="text" name="last_name" class="input-field" placeholder="Last name" value="{{ last_name }}" />
			</div>
			<div class="margin-bottom">
				<label class="label" for="password">Password:</label>
				<input type="password" name="password" class="input-field" placeholder="Password" />
			</div>
			<div class="margin-bottom">
				<label class="label" for="confirm_password">Confirm password:</label>
				<input type="password" name="confirm_password" id="confirm_password" class="input-field" placeholder="Confirm password" />
			{% if "return" in request.GET %}
				<input type="hidden" name="return" value="{{ request.GET.return }}" />
			{% endif %}
			</div>
			<div class="margin-bottom">
				<button class="btn-blue" onclick="if($('input[name=password]').val() != $('input[id=confirm_password]').val()) {alert('You entered 2 different passwords.'); return false;}" type="submit">Register</button>
			</div>
		</div>
	</form>
{% endblock %}
