<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Reset Password - Noter</title>
		<link rel="shortcut icon" href="/static/img/Noter-logo.png" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.min.css" />
	</head>
	<body>
		<section class="main" role="main">
			<div class="margin-bottom">
				<h2>Email sent</h2>
				<p>
					Check your inbox.
					We sent you an email.
				</p>
			</div>
		</section>
		{% include "include/footer.html" %}
	</body>
</html>
