<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Reset Password - Noter</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.min.css" />
	</head>
	<body>
		<section class="main" role="main">
			<div class="margin-bottom">
				<h2>Enter your email to reset password</h2>
				<form method="post" action="/reset/">
					{% csrf_token %}
					<div class="margin-bottom">
						<input type="email" class="input-field" placeholder="Your email here" name="email" id="email" />
					</div>
					<div class="margin-bottom">
						<button class="btn-blue" type="submit">Reset password</button>
					</div>
				</form>
			</div>
		</section>
		{% include "include/footer.html" %}
	</body>
</html>
