<script type="text/javascript">
	{% if note.is_checked and note.type == "t" %}
		$("input[id=todo]").prop("checked", true);
		$("input[name=checked]").prop("checked", true);
		$("label[for=checked]").css("display", "block");
	{% elif note.type == "t" and not note.is_checked %}
		$("input[id=todo]").prop("checked", true);
		$("label[for=checked]").css("display", "block");
	{% elif note.type == "s" %}
		$("#snippet").prop("checked", true);
	{% elif note.type == "w" %}
		$("#warning").prop("checked", true);
	{% elif note.type == "n" %}
		$("#note").prop("checked", true);
	{% endif %}
	$("input[id=todo]").change(function() {
		if ($(this).prop("checked"))
			$("label[for=checked]").css("display", "block");
		else
			$("label[for=checked]").css("display", "none");
			$("input[name=checked]").prop("checked", false);
	});
</script>
