<footer role="contentinfo">
	<ul>
		<li class="title">
			About
		</li>
		<li>
			<a href="/about#history" onclick="load_page('/about#history'); return false;">History</a>
		</li>
		<li>
			<a href="/about#why" onclick="load_page('/about#why'); return false;">Why</a>
		</li>
		<li>
			<a href="/about#developers" onclick="load_page('/about#developers'); return false;">Developers</a>
		</li>
	</ul>
	<ul>
		<li class="title">
			Contact
		</li>
		<li>
			<a href="/contact/" onclick="load_page('/contact/'); return false;">Contact form</a>
		</li>
		<li>
			<a href="mailto:noter.noreply@gmail.com">noter.noreply@gmail.com</a>
		</li>
	</ul>
	<ul>
		<li class="title">My other projects</li>
		<li>
			<a href="https://github.com/SPython">Github</a>
		</li>
		<li>
			<a href="https://bitbucket.org/SPython">Bitbucket</a>
		</li>
	</ul>
	<ul>
		<li>
			<a href="/logout/">Log out</a>
		</li>
	</ul>
	<div class="copyright-center">
		<div>
			Copyright © {% now "Y" %} Ivan Konovalov. All rights reserved.
		</div>
	</div>
</footer>
