<div class="wrapper">
	<div class="header">
		<div class="container">
			
			<h1><span class="N-letter">N</span>oter</h1>
			<nav>
				<a href="/" onclick="load_page('/'); return false;">Home</a>
				<a href="/add/" onclick="load_page('/add/'); return false;">Add note</a>
				<a href="/manage/" onclick="load_page('/manage/'); return false;">Manage notes</a>
				<a href="/filter/" onclick="load_page('/filter'); return false;">Filter</a>
				{% block header_nav %}{% endblock %}
			</nav>
			<div class="col-md-3">
				<div class="form-search input-group">
					<input class="form-control search-query" type="text" placeholder="Search" name="q" value="{{ q }}" />
					<span class="input-group-btn" id="s">
						<button class="btn btn-primary" data-type="last" onclick="load_page('/search/'+$('input[name=q]').val()); return false;">Search</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
