{% for note in notes %}
	<article class="{{ note.get_type_display|lower }} {% if note.type == 't' and note.is_checked %}checked{% elif note.type == 't' and not note.is_checked %}unchecked{% endif %}" id="note-{{ note.id }}">
		<a href="/note/{{ note.id }}/" onclick="load_page('/note/{{ note.id }}/'); return false;">
			<span class="title">
				{{ note.title }}
			</span>
		</a>
		<a style="cursor: pointer" onclick='var id = {{ note.id }}; ask(id, "{{ note.title }}");'>Remove</a>
		<a href="/edit/{{ note.id }}" onclick="load_page('/edit/{{ note.id }}/'); return false">Edit</a>
		<div class="date"><time datetime="{{ note.date }}">{{ note.date|date:"l, F j Y H:i" }}</time></div>
		{% if note.type == "s" %}
			<pre><code class="snippet-body">{{ note.text }}</code></pre>
		{% else %}
			<p class="text">{{ note.text }}</p>
		{% endif %}
	</article>
{% endfor %}
