<article class="{{ note.get_type_display|lower }} {% if note.type == 't' and note.is_checked %}checked{% elif note.type == 't' and not note.is_checked %}unchecked{% endif %}" id="note-{{ note.id }}" role="search">
	<a href="/note/{{ note.id }}" onclick="load_page('/note/{{ note.id }}/'); return false;">
		<span class="title">{{ note.title }}</span>
	</a>
	<div class="date"><time datetime="{{ note.date }}">{{ note.date|date:"l, F j Y H:i" }}</time></div>
	{% if note.type == "s"  %}
		<pre><code class="snippet-body">{{ note.text }}</code></pre>
	{% else %}
		<p class="text">{{ note.text }}</p>
	{% endif %}
</article>
