{% load note %}
{% for note in notes %}
	<article class="{{ note.2.1.get_type_display|lower }} {% if note.2.1.type == 't' and note.2.1.is_checked %}checked{% elif note.2.1.type == 't' and not note.2.1.is_checked %}unchecked{% endif %}" id="note-{{ note.2.1.id }}" role="search">
		<a href="/note/{{ note.2.1.id }}" onclick="load_page('/note/{{ note.2.1.id }}/'); return false;">
			<span class="title">{{ note.2.1.title }}</span>
		</a>
		{{ note.1|floatformat }}%/{{ note.0|floatformat }}%
		<div class="date"><time datetime="{{ note.1.1.date }}">{{ note.1.1.date|date:"l, F j Y H:i" }}</time></div>
		{% if note.2.1.type == "s"  %}
			<pre><code class="snippet-body">{{ note.2.1.text }}</code></pre>
		{% else %}
			<p class="text">{{ note.2.1|br }}</p>
		{% endif %}
	</article>
{% endfor %}
