@font-face {
	font-family: OpenSans;
	src: url(/static/fonts/OpenSans-Regular.ttf);
}

body {
	z-index: 1000;
	background-image: url("/static/img/background2.gif");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	font-family: OpenSans, Arial;
}

.wrapper h1 {
	color: whitesmoke;
	text-align: center;
	margin-top: 0;
}

.header {
	display: block;
	background-color: #474747;
	min-height: 95px;
	height: 170px;
	color: whitesmoke;
	padding-top: 25px;
}

.container {
	max-width: 1280px;
}

#next, #previous {
	position: absolute;
	bottom: 0;
	margin: 15px;
}

#next {
	right: 0;
}

#previous {
	left: 0;
}

.checked .title {
	text-decoration: line-through;
}

.unchecked .title {
	text-decoration: underline;
}

pre {
	padding: 0;
}

.header a {
	margin-left: 5px;
	margin-right: 5px;
}

#s {
	vertical-align: top;
}

.date {
	font-family: Times;
	margin: 2px;
	font-size: 13px;
}

.header nav {
	display: block;
	text-align: center;
}

.header nav a {
	vertical-align: middle;
}

.col-md-3 {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 275px;
	float: right;
}

.input-group-btn {
	vertical-align: bottom;
}

.tag-btn {
	margin: 3px;
}

.wrapper {
	display: block;
	padding-bottom: 0px;
}

.N-letter {
	font-family: Georgia, Arial;
}

.wrapper h1 {
	font-family: OpenSans, Georgia, Monospace, Verdana, Arial;
}

.col-6-md {
	padding-right: 8px;
	padding-bottom: 15px;
}

.pagination .active > a, .pagination .disabled > a {
	padding: 6px 5px 6px 5px;
	border-radius: 2px;
}

.pagination > li > .current {
	background-color: whitesmoke;
	cursor: default;
}

.pagination > li > .current:hover {
	color: #434A54;
	background-color: whitesmoke;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span {
	cursor: pointer;
}

.main {
	position: relative;
	background-color: #FEFEFE;
	max-width: 1280px;
	min-width: 240px;
	font-family: OpenSans, Arial;
	box-shadow: 0 0 15px #888;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 30px;
	min-height: 300px;
	margin-left: 13%;
	margin-right: 13%;
}

@media screen and (max-width: 920px) {
	.main {
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.wrapper, .header {
		max-width: 1000px;
	}
}

.text a {
	color: #56A2FF;
}

.text {
	display: block;
/*	max-width: 800px;*/
	min-width: 240px;
	font-size: 17px;
}

p {
	font-family: OpenSans, Verdana, Arial;
}

.title {
	margin-bottom: 5px;
	min-width: 240px;
	text-decoration: none;
	font-size: 24px;
	font-family: OpenSans, Verdana, Arial;
	color: #74A4D3;
	opacity: 0.8;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
}

.title:hover {
	opacity: 1;
}

.note, .todo, .snippet, .warning {
	word-wrap: break-word;
	padding-bottom: 15px;
	max-width: 1000px;
	min-width: 240px;
}

@keyframes warning-blink {
	0% {
		opacity: 0.7;
	}

	50% {
		opacity: 1;
		color: red;
		text-shadow: 0 0 2px red;
	}
	
	100% {
		opacity: 0.7;
	}
}

@-moz-keyframes warning-blink {
	0% {
		opacity: 0.7;
	}

	50% {
		opacity: 1;
		color: red;
		text-shadow: 0 0 2px red;
	}
	
	100% {
		opacity: 0.7;
	}
}

@-webkit-keyframes warning-blink {
	0% {
		opacity: 0.7;
	}

	50% {
		opacity: 1;
		color: red;
		text-shadow: 0 0 2px red;
	}
	
	100% {
		opacity: 0.7;
	}
}

@-o-keyframes warning-blink {
	0% {
		opacity: 0.7;
	}

	50% {
		opacity: 1;
		color: red;
		text-shadow: 0 0 2px red;
	}
	
	100% {
		opacity: 0.7;
	}
}

@-ms-keyframes warning-blink {
	0% {
	`	opacity: 0.7;
	}

	50% {
		opacity: 1;
		color: red;
		text-shadow: 0 0 2px red;
	}
	
	100% {
		opacity: 0.7;
	}
}

.warning > .text {
	color: red;
	font-size: 18px;
}

.warning > a .title {
	font-size: 28px;
	text-shadow: 0 0 1px red;
}

.warning > a .title:hover {
	animation: 3s warning-blink infinite;
	-moz-animation: 3s warning-blink infinite;
	-webkit-animation: 3s warning-blink infinite;
	-o-animation: 3s warning-blink infinite;
	-ms-animation: 3s warning-blink infinite;
}

.edit_button {
	display: inline-block;
	margin-bottom: 50px;
	background-color: #1A81DF;
	padding: 3px 6px;
	vertical-align: middle;
	max-width: 40px;
	min-width: 30px;
	text-align: center;
	border-radius: 5px;
	border: 2px solid #F1F1F1;
	cursor: pointer;
	color: white;
}

.edit_button:hover {
	background-color: #1A91DF;
	color: #FEFEFE;
}

.error {
	color: red;
}

.success {
	color: green;
}

.remove-dialog {
	position: fixed;
	display: none;
	z-index: 1001;
	overflow: auto;
	width: 290px;
	height: 180px;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	font-size: 13px;
}

.remove-dialog .btn {
	margin: 1px 5px;
}

#result {
	position: fixed;
	display: none;
	z-index: 1001;
	width: 241px;
	height: 45px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
