/*
@FONTS
==========
Load fonts
==========
*/

@font-face {
	font-family: OpenSans;
	src: url(/static/fonts/OpenSans-Regular.ttf);
}

/*
@RESET
=========
CSS reset
=========
@CSSRESET
*/

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, pre,
a, code, img, kbd, samp,
small, var,
form, label,
article, aside, canvas,
footer, header, hgroup, 
nav, section,
time {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

mark {
	padding: 0;
	margin: 0;
	border: none;
	font-family: inherit;
	vertical-align: baseline;
	font-size: 100%;
	background-color: yellow;
	box-shadow: inset 0 0 20px #FFF;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.42587;
}

code {
	display: inline-block;
	background-color: #F9F2F4;
	color: #E8694E;
	padding: 2px 4px;
	line-height: 1.42857;
	border-radius: 4px;
	font-size: 90%;
}

kbd {
	display: inline-block;
	background-color: #333;
	color: #FFF;
	padding: 2px 4px;
	border-radius: 4px;
	line-height: 1.42587;
}

img {
	max-width: 100%;
	max-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #434A54;
}

h2 {
	font-size: 38px;
}

h1 {
	font-size: 50px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

p {
	margin-top: 5px;
	margin-bottom: 5px;
}

/*
@STYLYING
============
Site styling
============
@STYLE
*/

body {
	z-index: 1000;
	background-image: url("/static/img/background2.gif");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100% 100%;
	font-family: OpenSans, Arial;
}

a {
	text-decoration: none;
	color: #009BFF;
	outline: 0;
}

a:hover {
	color: #00BFFF;
}

.wrapper h1 {
	color: whitesmoke;
	text-align: center;
	margin-top: 0;
}

.wrapper header {
	display: block;
	background-color: rgba(71, 71, 71, 0.9);/* #474747;*/
	height: 145px;
	color: whitesmoke;
	padding: 15px;
	padding-top: 0;
	min-width: 240px;
}

.container {
	max-width: 1280px;
}

#next, #previous {
	position: absolute;
	bottom: 0;
	margin: 15px;
}

#next {
	right: 0;
}

#previous {
	left: 0;
}

.checked .title {
	text-decoration: line-through;
}

.unchecked .title {
	text-decoration: underline;
}

pre {
	padding: 0;
	font-size: 14px;
	font-family: Monospace, Courier, Sans-serif;
	line-height: 1.1;
}

#s {
	vertical-align: top;
}

.date {
	font-family: Times;
	margin: 2px;
	font-size: 13px;
}

.wrapper header nav {
	display: block;
	text-align: center;
}

.wrapper header nav a {
	vertical-align: middle;
	padding: 4px;
}

.wrapper header nav a:hover {
	color: #00BFFF;
}

#search_box {
	max-width: 275px;
	float: right;
	margin-right: 3px;
}

.input-group-btn {
	vertical-align: bottom;
}

.tag-btn {
	display: inline-block;
	margin: 3px;
	background-color: #656D78;
	padding: 6px 12px;
	color: #FEFEFE;
	border-radius: 5px;
	cursor: pointer;
}

.tag-btn:hover {
	background-color: #889095;
}

.wrapper {
	display: block;
	padding-bottom: 0px;
}

.N-letter {
	font-family: OpenSans, Helvetica, Verdana, Arial, Tahoma;
	font-weight: 100;
}

.wrapper h1 {
	font-family: OpenSans, Helvetica, OpenSans, Arial, Verdana, Tahoma;
	font-size: 40px;
	font-weight: 100;
}

.margin-bottom {
	display: block;
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 5px;
}

.pagination .active > a, .pagination .disabled > a {
	padding: 6px 5px 6px 5px;
	border-radius: 2px;
}

.pagination > li > .current {
	background-color: whitesmoke;
	cursor: default;
}

.pagination > li > .current:hover {
	color: #434A54;
	background-color: whitesmoke;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span {
	cursor: pointer;
}

.preview {
	font-family: "Courier New", Monospace;
}

.date {
	margin: 2px 0;
}

.main {
	position: relative;
	background-color: #FEFEFE;
	max-width: 1280px;
	min-width: 240px;
	overflow: auto;
	height: auto !important;
	height: 100%;
	font-family: OpenSans, Arial;
	box-shadow: 0 0 15px #888;
	min-height: 417px;
	margin-top: 20px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-left: 13%;
	margin-right: 13%;
	padding-bottom: 80px;
}

@media screen and (max-width: 920px) {
	.main {
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.wrapper, .wrapper header {
		max-width: 1000px;
	}
}

.text a {
	color: #56A2FF;
}

.text {
	display: block;
	min-width: 240px;
	font-size: 17px;
	overflow: hidden;
	padding-bottom: 5px;
}

.cut {
	display: block;
	box-shadow: inset 0 -15px 15px -15px #ABABAB;
	height: 210px;
}

.shadow {
}

p {
	font-family: OpenSans, Verdana, Arial;
	margin-top: 10px;
	margin-bottom: 10px;
	z-index: 1002;
}

.title {
	margin-bottom: 5px;
	min-width: 240px;
	text-decoration: none;
	font-size: 24px;
	font-family: OpenSans, Helvetica, Verdana, Arial;
	color: #74A4D3;
	opacity: 0.8;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
}

.title:hover {
	opacity: 1;
}

.note, .todo, .snippet, .warning {
	word-wrap: break-word;
	padding-bottom: 15px;
	max-width: 1000px;
	min-width: 240px;
}

.snippet pre {
	overflow: hidden;
}

@keyframes warning-blink {
	0% {
		opacity: 0.7;
	}

	50% {
		opacity: 1;
		color: red;
		text-shadow: 0 0 2px red;
	}
	
	100% {
		opacity: 0.7;
	}
}

@-moz-keyframes warning-blink {
	0% {
		opacity: 0.7;
	}

	50% {
		opacity: 1;
		color: red;
		text-shadow: 0 0 2px red;
	}
	
	100% {
		opacity: 0.7;
	}
}

@-webkit-keyframes warning-blink {
	0% {
		opacity: 0.7;
	}

	50% {
		opacity: 1;
		color: red;
		text-shadow: 0 0 2px red;
	}
	
	100% {
		opacity: 0.7;
	}
}

@-o-keyframes warning-blink {
	0% {
		opacity: 0.7;
	}

	50% {
		opacity: 1;
		color: red;
		text-shadow: 0 0 2px red;
	}
	
	100% {
		opacity: 0.7;
	}
}

@-ms-keyframes warning-blink {
	0% {
	`	opacity: 0.7;
	}

	50% {
		opacity: 1;
		color: red;
		text-shadow: 0 0 2px red;
	}
	
	100% {
		opacity: 0.7;
	}
}

.warning > .text {
	color: red;
	font-size: 18px;
}

.warning > a .title {
	font-size: 28px;
	text-shadow: 0 0 1px red;
}

.warning > a .title:hover {
	animation: 3s warning-blink infinite;
	-moz-animation: 3s warning-blink infinite;
	-webkit-animation: 3s warning-blink infinite;
	-o-animation: 3s warning-blink infinite;
	-ms-animation: 3s warning-blink infinite;
}

.edit_button {
	display: inline-block;
	margin-bottom: 50px;
	background-color: #1A81DF;
	padding: 6px 12px;
	vertical-align: middle;
	max-width: 40px;
	min-width: 30px;
	text-align: center;
	border-radius: 5px;
	border: 2px solid #F1F1F1;
	cursor: pointer;
	color: white;
}

.edit_button:hover {
	background-color: #1A91DF;
	color: #FEFEFE;
}

.error {
	color: red;
}

.success {
	color: green;
}

.remove-dialog {
	position: fixed;
	display: none;
	z-index: 1001;
	overflow: auto;
	width: 290px;
	height: 180px;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	font-size: 13px;
	background-color: #FFDD87;
	padding: 5px;
}

.remove-dialog .btn-success {
	position: absolute;
	bottom: 0;
}

#proceed {
	left: 0;
}

#do-not-delete {
	right: 0;
}

#result {
	position: fixed;
	display: none;
	z-index: 1001;
	width: 241px;
	height: 1em;
	margin: auto;
	padding: 15px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 8px;
	text-align: center;
	vertical-align: middle;
	color: 14px;
}

.okay {
	border: 2px solid #A8CE80;
	background-color: #B9DF90;

}

.fail {
	border: 2px solid #E1727E;
	background-color: #F2838F;
}

.close {
	float: right;
	color: red;
	font-size: 24px;
	cursor: pointer;
	font-family: Tahoma;
	font-weight: bold;
	font-variant: ultra-expanded;
}

.margin-bottom {
	margin-bottom: 10px;
}

/*
@INPUT @BTN
===========
Some inputs
===========
*/

.search-btn {
	display: inline-block;
	margin-left: -6px;
	background-color: #3BAFDA;
	padding: 3px 12px 3px 12px;
	color: #FEFEFE;
	cursor: pointer;
	border-radius: 0 15px 15px 0;
	text-align: center;
	font-size: 15px;
	-moz-user-select: none;
	-webkit-user-select: none;
	line-height: 1.7;
}

.text-field {
	height: 30px;
	vertical-align: top;
	border: 1px solid #AAB2BD;
	border-right: 1px solid #3BAFDA;
	border-radius: 15px 0 0 15px;
	padding-left: 15px;
	padding-right: 3px;
	font-size: 15px;
	font-family: Verdana. Tahoma, Times, OpenSans, Arial;
	min-width: 120px;
	outline: 0;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}
		
.filter-btn {
	display: inline-block;
	background-color: #3BAFDA;
	color: #FEFEFE;
	font-size: 15px;
	margin-left: -6px;
	padding: 3px 12px 3px 12px;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	line-height: 1.45;
}
		
.filter-field {
	height: 26px;
	padding-left: 5px;
	padding-right: 3px;
	border: 1px solid #AAB2BD;
	border-right: 1px solid #3BAFDA;
	min-width: 165px;
	font-size: 15px;
	font-family: Verdana, Tahoma, Times, OpenSans, Arial;
	vertical-align: top;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.filter-field:focus, .text-field:focus, .input-field:focus, .textarea-field:focus {
	border-color: #3BAFDA;
	outline: 0;
}

.input-field {
	display: block;
	height: 27px;
	font-size: 14px;
	font-family: Verdana, Tahoma, Times, OpenSans, Arial;
	border: 1px solid #AAB2BD;
	margin: 0;
	margin-top: 3px;
	padding-left: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 100%;
	border-radius: 3px;
}

.read-more-btn {
	display: inline-block;
	padding: 6px 12px;
	line-height: 1.42;
	margin: 3px;
	background-color: #FAFAFA;
	border: 1px solid #DADADA;
	border-radius: 6px;
	color: #123;
	cursor: pointer;
}

.read-more-btn:hover {
	border-color: #E1E1E1;
	background-color: #FBFBFB;
}

.label {
	font-size: 10.5px;
	font-family: Arial;
	font-weight: bold;
/*	background-color: #CCD1D9;*/
	color: black;
	padding: 3px;
	border-radius: 3px 3px 0 0;
	text-align: center;
	line-height: 1.2;
}

.btn-blue {
	display: inline-block;
	background-color: #3BAFDA;
	color: #FEFEFE;
	font-size: 15px;
	margin-left: -6px;
	padding: 6px 12px 6px 12px;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	border-radius: 5px;
	line-height: 1.42;
}

.btn-blue:hover, .filter-btn:hover, .search-btn:hover, .btn-success {
	background-color: #0AAFDA;
}

.textarea-field {
	display: block;
	font-size: 15px;
	font-family: Verdana, Tahoma, Times, OpenSans, Arial;
	border: 1px solid #AAB2BD;
	margin: 0;
	margin-top: 3.5px;
	padding-left: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 100%;
	border-radius: 3px;
}

.btn-success {
	display: inline-block;
	background-color: #a0d468;
	border-color: #A0D468;
	box-shadow: none;
	outline: 0;
	color: #FEFEFE;
	font-size: 15px;
	padding: 6px 12px 6px 12px;
	margin: 3px;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	border-radius: 5px;
	line-height: 1.42;
}

.btn-success:hover {
	background-color: #A5D357;
}

/*
@PAGINATION
==========
Pagination
==========
*/

.pagination, .pg {
	position: absolute;
	padding: 0;
	padding-bottom: 15px;
	margin-top: 0;
	bottom: 0
}

/*.pagination li {
	display: inline;
	list-style: none;
	margin-left: -5px;
}*/

.pg li {
	display: inline;
	list-style: none;
}

.pg li a {
	font-size: 18px;
	color: #6DA3BD;
	padding: 3px 8px;
}

.pg li:not(.inactive):not(.current) a:hover {
	text-decoration: underline;
}

.pg .inactive a {
	color: #D9D8E2;
}

.pg .current a {
	color: #000;
	background-color: #F1F1F1;
}

/*.pagination li a {
	padding: 6px 12px;
	border-top: 1px solid #CCD1D9;
	border-bottom: 1px solid #CCD1D9;
	border-right: 1px solid #CCD1D9;
	color: #00012B;
	margin: 0;
	margin-left: 0.5px;
	margin-right: 0.5px;
}

.pagination li:first-child a:first-child {
	border-radius: 5px 0 0 5px;
	border: 1px solid #CCD1D9;
}

.pagination li:last-child a:last-child {
	border-radius: 0 5px 5px 0;
	border: 1px solid #CCD1D9;
	border-left: none;
	margin-left: 0.1px;
}

.pagination .active a {
	background-color: #8CC152;
	color: #FEFEFE;
}

.pagination .active a:hover {
	background-color: #8CC952;
}

.pagination .inactive a {
	background-color: #FFF;
	color: #EAE9F3;
	cursor: default;
}

.pagination .inactive a:hover {
	background-color: #FFF;
}

.pagination .current a {
	background-color: #FAFAFA;
	cursor: default;
}*/

/*
@FOOTER
==============
Footer styling
==============
*/

footer {
	position: relative;
	background-color: #434A54;
	color: #FEFEFE;
	margin: 0;
	margin-top: 79px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 25px;
	min-height: 158px;
	box-sizing: border-box;
}

/*footer .logo {
	display: inline-block;
	height: 32px;
	margin-right: 5%;
	margin-top: 10px;
}*/

footer ul .title {
	font-size: 14px;
	color: #F7FAFE;
}

footer ul {
	display: inline-block;
	padding: 0;
	margin-right: 4%;
	vertical-align: top;
}

footer ul li {
	list-style: none;
	display: block;
}

footer ul li a {
	color: #AAB2BD;
	font-size: 14px;
}
		
footer .copyright-center {
	display: block;
	text-align: center;
	font-size: 14px;
	color: #E6E9ED;
}

footer .copyright-center div {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 15px;
	margin-bottom: 5px;

}

footer ul li a:hover {
	color: #F7FAFE;
}
