.button {
	display: inline;
	min-height: 10px;
	min-width: 10px;
	background-color: #FAFAFA;
	border: 1px solid #EAEAEA;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	border-radius: 5px;
	padding: 5px;
	line-height: 1;
	text-align: center;
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	-ms-transition: background-color 0.5s;
}

.button a {
	text-decoration: none;
	color: black;
}

.button:hover {
	background-color: #F3F3F3;
	text-shadow: 0 0 1px #EEE;
}